<nav style="position:sticky;top: 0;left: 0;">
    <ul style="display:flex;width:100%;flex-wrap: wrap;">
        <% for(let i = 1;i < anchors;i++) { %>
        <li>
            <a href="#section<%= i %>"><%= i %></a>
        </li>
        <% } %>
    </ul>
</nav>
