<!doctype html>
<html lang="ja">
<head>
    <title>Document</title>
    <%- include('./_modules/_head'); %>
</head>
<body data-page="index">
<%- include('./_modules/_header'); %>
<main id="wrapper">

</main>
<script>
  // ここはエラーになる
  console.log('jQuery called from browser:', $.fn.jquery);

  window.onload = () =>  {
    // 読み込みが完了してからの発火は問題ない
    console.log('jQuery called from browser:', $.fn.jquery);
  }
</script>
</body>
</html>
