<!doctype html>
<html lang="ja">
<head>
    <title>Document</title>
    <%- include('./_modules/_head'); %>
</head>
<body data-page="index">
<%- include('./_modules/_header'); %>
<main id="wrapper">

</main>
</body>
</html>
