<!doctype html>
<html lang="ja">
<head>
    <title>Document</title>
    <%- include('./_modules/_head'); %>
    <style>
        .spacer {
          height:25vh;
          transition: all 0.3s ease;
          position: relative;
        }
        .spacer p {
          position: sticky;
          top: 0;
        }
        .active {
          background-color: #ccc;
        }
    </style>
</head>
<body data-page="script">
<%- include('./_modules/_header'); %>
<main id="wrapper">
    <div class="test-static">
        Text color changes when static style loaded.
    </div>
    <% for(let i = 0;i<30;i++) { %>
    <div class="spacer" id="block<%= i %>">
        <p>div</p>
    </div>
    <% } %>
</main>
<script>
  console.log('[Load] html script');

  // jQueryの読み込みは共通アセット内で行われるので、ここはエラーになる
  console.log('jQuery called from browser:', $.fn.jquery);
</script>
<script>
  // 静的アセットのスクリプトも読み込みがまだなのでエラーになる
  sample();
</script>
<script>
  window.addEventListener('load', function() {
    console.log('[Load] html script on load');

    // jQueryが読み込み済みのはず
    console.log('jQuery called from browser:', $.fn.jquery);

    // 静的アセットのスクリプトもここなら実行可能
    sample();
  });
</script>
</body>
</html>
