<header>
    <h1 data-text-scramble>Document Title</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li>
                <a href="/elements.html">css elements</a>
            </li>
            <li>
                <a href="/scroll.html">scroll</a>
            </li>
        </ul>
    </nav>
</header>
