<header>
    <h1>Document</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li>
                <a href="/scroll.html">scroll</a>
            </li>
        </ul>
    </nav>
</header>
