<header>
    <h1>Document</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li>
                <a href="/elements.html">css elements</a>
            </li>
            <li>
                <a href="/scroll.html#section3">scroll</a>
            </li>
        </ul>
    </nav>
</header>
